<div class="row h-100">
  
    <div class="col-lg-6 row">
      <div class="mb-3">
        <input
        type="text"
        class="form-control"
        placeholder="Réchercher un Act"
        (keyup)="onSearchActs($event.target.value)"
      />
      </div>
        <nb-accordion multi>
            <nb-accordion-item *ngFor="let specialityName of specialitiesNameFilter; let i = index;">
                <nb-accordion-item-header>
                   {{specialityName | uppercase}}
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div class="row accordion-item-body">
                        <div class="col-lg-6" *ngFor="let act of searchResult"
                            [hidden]="act?.medicalAnalysisName != specialityName">
                            <div class="accordion_item">
                                <div>
                                    <nb-checkbox (checkedChange)="getPrescriptionItemsIdToCollected(act)">
                                    </nb-checkbox>
                                    <span class="mx-1">{{act?.name}}</span>
                                </div>
                                <div>
                                    {{act?.actCode}}
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </div>
    <div class="col-lg-6 pb-2">
        <div class="actsSelected  mb-3 px-3">
            <div class="mb-4"
                *ngFor="let medicalAnalysiSpecialityName of analysisSpecialitySecondSection; let i = index">
                <span class="actsSelected_title">{{medicalAnalysiSpecialityName}}</span>
                <div class="act_selectedBox mt-2" *ngFor="let selectedItem of selectedItems; let i = index"
                    [hidden]="selectedItem?.medicalAnalysisName != medicalAnalysiSpecialityName">
                    <div class="accordion_item">
                        <div class="act_selectedItem mx-2">
                            <span class="mx-2">{{selectedItem?.actCode}} - {{selectedItem?.name}}</span>
                            <div class="closeBtn">
                                <nb-icon (click)="getPrescriptionItemsIdToCollected(selectectedItem)"
                                    class="pointer text-white" style=" cursor: pointer; " icon="close-outline">
                                </nb-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <textarea class="mb-3" [(ngModel)]="examenCreateData.observation" placeholder="COMMENTAIRE" name="" id="" cols="72"
            rows="3"></textarea>
        <button *ngIf="analysisSpecialitySecondSection.length != 0" (click)="saveExamanRequest()"
            style="background-color: #14a2b8;" class="text-capitalize btn btn-block w-25 text-white rounded">
            <span class="fw-bold"> DEMANDER</span>
        </button>
    </div>
</div>
