
    <div class="gmhis-invoiceH-sheldon-main">
        <div class="gmhis-invoiceH-sheldon-content">
            <form [formGroup]="invoiceHFieldGroup">
                <div class="gmhis-invoiceH-sheldon-title">
                      <span class="title" >Nouvelle Facture</span>
                      <span class="subTitle" >Création de Facture</span>
                </div>
                <div class="gmhis-invoiceH-sheldon-header row">
                    <div class="col-12 mb-3">
                        <ng-select formControlName="patientID" placeholder="Selectionner un Patient">
                            <ng-option *ngFor="let patient of patients" [value]="patient.id">{{patient.firstName}}  {{patient.lastName}}</ng-option>
                        </ng-select> 
                        <div *ngIf="formSubmitted && !invoiceHFieldGroup.controls.patientID.valid">
                            <small *ngIf="patientIDField.errors.required" class="text-danger">Veuillez remplir ce champs</small>
                          </div>
                    </div>
                    <div class="col-4">
                        <ng-select (change)="onSelectPatientType($event)" placeholder="Selectionner le Type de Patient" class="mb-3">
                            <ng-option *ngFor="let patientType of patientTypes" [value]="patientType.value">{{patientType.key}} </ng-option>
                        </ng-select>
                        
        
                       <div class="mb-3">
                        <ng-select [clearable]="false" (change)="onSelectInsurance($event)" *ngIf="isInsuredPatient()" placeholder="Selectionner un l'Etablissement Payeur">
                            <ng-option  *ngFor="let insurrance of patientInsureds" [value]="insurrance">{{insurrance.insuranceName}} </ng-option>
                        </ng-select>
                        <div *ngIf="formSubmitted && !invoiceHFieldGroup.controls.insuranceID.valid">
                            <small *ngIf="insurance.errors.required" class="text-danger">Veuillez remplir ce champs</small>
                          </div>
                       </div>
        
                        <div class="d-flex applyCnam">
                            <label class="sh-font-size-intermediate sh-display-block ml-3" for="scales">Appliquer la CNAM</label>
                            <input (change)="onApplyCMU($event)" type="checkbox" id="applyCnam" name="applyCnam" class="mr-2" />
                          </div>
                    </div>
        
                    <div class="col-4">
                       <div class="mb-3">
                        <input id="affection" name="affection" type="text" class="form-control" placeholder="Affection" formControlName="affection">
                        <div *ngIf="formSubmitted && !invoiceHFieldGroup.controls.affection.valid">
                            <small *ngIf="affection.errors.required" class="text-danger">Veuillez remplir ce champs</small>
                          </div>
                       </div>
                        <input id="affection" name="affection" type="text" class="form-control" placeholder="Indication" formControlName="indication">
                    </div>
                   
                </div>
                <div class="d-flex mb-4">
                    <sh-button (click)="addItem()" type="text" size="'intermediate'" label="Ajouter une Prestation" labelStyleClass="sh-color-primary"></sh-button>
                </div>
                <div class="gmhis-invoiceH-sheldon-content">
                   
                    <div formArrayName="invoiceHItems" class="invoiceHItems">
                        <div class="row mb-4">
                                    <div class="col-lg-4 col-md-12 col-sm-12" [ngClass]="{'col-lg-3-imp': isApplyCnam()}">
                                        <span class="sh-display-bloc">Prestation</span>
                                    </div>
                            
                                    <div class="col-lg-2 col-md-12 col-sm-12" [ngClass]="{'col-lg-1-imp': isApplyCnam()}">
                                        <span class="sh-display-bloc">Quantité</span>
                                    </div> 
                
                                    <div class="col-lg-2 col-md-12 col-sm-12">
                                        <span class="sh-display-bloc">Prix Unitaire</span>
                                    </div> 
                
                                    <div class="col-lg-3 col-md-12 col-sm-12" [ngClass]="{'col-lg-2-imp': isApplyCnam()}">
                                        <span class="sh-display-bloc">Practicien</span>
                                    </div> 
                                    <div *ngIf="!isApplyCnam()" class="col-lg-1">

                                    </div>
                                    <div *ngIf="isApplyCnam()" class="col-lg-2 col-md-12 col-sm-12" [ngClass]="{'col-lg-2-imp': isApplyCnam()}">
                                        <span class="sh-display-bloc">Montant CNAM</span>
                                    </div> 
                
                                    <div *ngIf="isApplyCnam()" class="col-lg-1 col-md-12 col-sm-12" [ngClass]="{'col-lg-1-imp': isApplyCnam()}">
                                        <span class="sh-display-bloc">% CNAM</span>
                                    </div> 
                       
                
                                    <!-- <div  *ngIf="isInsuredPatient()" class="col-lg-1 col-md-12 col-sm-12">
                                        <span class="sh-display-bloc">% Ass</span>
                                    </div> -->    
                        </div>
                        <div *ngFor="let invoiceHItemsForm of invoiceHItemsFormArray.controls; let i = index" >
                            
                                <div class="row mb-4" [formGroupName]="i">
                
                                        <div class="col-lg-4 col-md-12 col-sm-12" [ngClass]="{'col-lg-3-imp': isApplyCnam()}">
                                            <ng-select (change)="onSelectAct($event,i)" formControlName="actId">
                                                <ng-option *ngFor="let act of acts" [value]="act.id">{{act.name}}</ng-option>
                                            </ng-select>
                                        </div>
                    
                                        <div class="col-lg-2 col-md-12 col-sm-12" [ngClass]="{'col-lg-1-imp': isApplyCnam()}">
                                            <input id="{{'quantity' + i}}" name="{{'quantity' + i}}" type="number" class="form-control" formControlName="quantity">
                                        </div>
                    
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <input id="{{'unitPrice' + i}}" name="{{'unitPrice' + i}}" type="number" class="form-control" formControlName="unitPrice">
                                        </div>
                    
                                            <div class="col-lg-3 col-md-12 col-sm-12" [ngClass]="{'col-lg-2-imp': isApplyCnam()}">
                                                <ng-select formControlName="practicianID" >
                                                    <ng-option *ngFor="let practician of practicians" [value]="practician.id">{{practician.practicianName}}</ng-option>
                                                </ng-select>
                                            </div>
            
                                        <div *ngIf="isApplyCnam()" [ngClass]="{'col-lg-2-imp': isApplyCnam()}">
                                            <input id="{{'cmuAmount' + i}}" name="{{'cmuAmount' + i}}" type="number" class="form-control" formControlName="cmuAmount">
                                        </div>
                    
                                        <div *ngIf="isApplyCnam()" [ngClass]="{'col-lg-1-imp': isApplyCnam()}">
                                            <input id="{{'cmuPercent' + i}}" name="{{'cmuPercent' + i}}" type="number" class="form-control" formControlName="cmuPercent">
                                        </div>
            
                                        <!-- <div  *ngIf="isInsuredPatient()" class="col-lg-1 col-md-12 col-sm-12">
                                            <input id="{{'insurancePercent' + i}}" name="{{'insurancePercent' + i}}" type="number" class="form-control" formControlName="insurancePercent">
                                        </div> -->
                                        
                                        <div class="col-1">
                                            <sh-button (click)="removeItem(i)" type="text" size="'intermediate'" label="supprimer" labelStyleClass="sh-color-error" styleClass="d-flex justify-content-end"></sh-button>
                                        </div>      
                                </div>
                               
                                
                            </div>
                
                            </div>
                    </div>
        
                <div class="d-flex justify-content-between mt-50">
                    <div class="actionButton">
                        <sh-button type="text" label="Annuler" labelStyleClass="sh-color-error"></sh-button>
                        <sh-button type="text" label="Caluler" (clickEvent)="onCalculAmount()"></sh-button>
                        <sh-button type="button" label="Valider" (clickEvent)="save()"></sh-button>
                    </div>
        
                    <div class="allAmount">
                        <span class="sh-display-block mb-3">Montant Total : {{totalAmount?.totalAmount}}</span>
                        <span class="sh-display-block mb-3">Part CNAM : {{totalAmount?.cmuPart}}</span>
                        <span class="sh-display-block mb-3">Part Assurance {{insured?.insuranceName}} : {{totalAmount?.insurancePart}}</span>
                        <span class="sh-display-block mb-3">Ticket Modérateur : {{totalAmount?.moderatorTicket}}</span>
                        <span class="sh-display-block ">Net à Payer : <span class="sh-color-primary netToPay">{{totalAmount?.netToPay}}</span> </span>  
                    </div>
                </div>
            </form>
        </div>
   
</div>

