<p-toast></p-toast>

<div class="login">
    <div class="login__box-form reset-password">
        <div class="login__header">
            <h1>Nouveau mot de passe</h1>
            <p>Veuillez entrer votre nouveau mot de passe</p>
        </div>

        <!-- login form -->
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()" class="login-form">
            <p-messages></p-messages>
            <div class="login-form__item">
                <label for="#">Mot de passe</label>
                <input type="password" formControlName="newPassword" pInputText />
                <div class="text-left" *ngIf="formSubmitted && !newPassword?.valid">
                    <small class="error" *ngIf="newPassword?.errors?.['required'] ||
                   ((newPassword?.dirty ||
                   newPassword?.touched))
                  ">Ce champs est requis</small>
                </div>
            </div>

            <div class="login-form__item">
                <label for="#">Confirmation mot de passe </label>
                <input type="password" formControlName="confirmPassword" pInputText (input)="verifyPassword()"/>
                <div class="text-left" *ngIf="formSubmitted && !confirmPassword?.valid">
                    <small class="error" *ngIf="confirmPassword?.errors?.['required'] ||
                   ((confirmPassword?.dirty ||
                   confirmPassword?.touched))
                  ">Ce champs est requis</small>
                </div>
                <p class="mt-2 controls-pwd" *ngIf="resetPasswordForm.valid" [ngClass]="{'correctPwd': controlPwd, 'incorrectPwd': !controlPwd}">{{statusPassword}}</p>
            </div>

            <div>
                <button type="submit" class="btn-standar btn-login mb-2" [disabled]="!resetPasswordForm.valid || !controlPwd"
                    [ngClass]="{'btn-disabled': !resetPasswordForm.valid || !controlPwd}">
                    <span *ngIf="onLoading" class="loginLoading"><i class="pi pi-spin pi-spinner"></i></span>
                    <span *ngIf="!onLoading">Réinitialiser</span>
                </button>
                <a class="go_to_login" routerLink="/account/login">
                    <i class="pi pi-arrow-left"></i>
                    retour
                </a>
            </div>

        </form>
    </div>
</div>