<form [formGroup]="formGroup" (ngSubmit)="save()">
  <div
    *ngIf="loading == true"
    class="overlay d-flex justify-content-center align-items-center"
  >
    <div class="d-flex w-100 justify-content-center">
      <div
        class="spinner-border"
        style="width: 5rem; height: 5rem; color: #623508"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div *ngIf="invalidFom" class="alert alert-danger">Formulaire invalid</div>
  <div *ngIf=" invalidInsuranceFom" class="alert alert-danger">Le formulaire de l'assurance est invalid</div>
  <div class="row mb-2">
    <div *ngIf="patientInfo" class="patientInfo row">
      <input type="text" [hidden]="true" />
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="name" class="form-label text-capitalize">Nom</label>
        <span *ngIf="!details" class="text-danger">*</span>
        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="lastName"
          [ngClass]="{
            'is-invalid':
              (!formGroup.get('lastName')?.valid &&
                formGroup.get('lastName')?.touched) ||
              (!formGroup.get('lastName')?.valid && formSubmitted)
          }"
        />
        <div class="invalid-feedback">
          <span *ngIf="formGroup.get('lastName')?.errors?.required"
            >Ce champ est requis</span
          >
        </div>
      </div>

      <!-- Prenom -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="firstName" class="form-label text-capitalize"
          >Prenoms</label
        >
        <span *ngIf="!details" class="text-danger">*</span>
        <input
          type="text"
          id="firstName"
          class="form-control"
          formControlName="firstName"
          [ngClass]="{
            'is-invalid':
              (!formGroup.get('firstName')?.valid &&
                formGroup.get('firstName')?.touched) ||
              (!formGroup.get('firstName')?.valid && formSubmitted)
          }"
        />
        <div class="invalid-feedback">
          <span *ngIf="formGroup.get('firstName')?.errors?.required"
            >Ce champ est requis</span
          >
        </div>
      </div>

         <!-- Date de naissance -->
         <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="birthDate" class="form-label text-capitalize"
            >Date de naissance</label
          >
          <span *ngIf="!details" class="text-danger">*</span>
          <input
          (change)="onBirthDateChange()"
            type="date"
            id="birthDate"
            class="form-control"
            formControlName="birthDate"
            [ngClass]="{
              'is-invalid':
                (!formGroup.get('birthDate')?.valid &&
                  formGroup.get('birthDate')?.touched) ||
                (!formGroup.get('birthDate')?.valid && formSubmitted)
            }"
          />
          <div class="invalid-feedback">
            <span *ngIf="formGroup.get('birthDate')?.errors?.required"
              >Ce champ est requis</span
            >
          </div>
        </div>
      <!-- E-mail -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="email" class="form-label text-capitalize">E-mail</label>
        <input
          type="text"
          id="email"
          class="form-control"
          formControlName="email"
        />
      </div>

      <!-- Téléphone 1 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="cellPhone1" style="display: block;" class="form-label text-capitalize"
          >N° de téléphone
          <span *ngIf="!details && isAnAdult()" class="text-danger">*</span>
          </label
        >
        <input type="text"
        id="cellPhone1"
        class="form-control w-100"
        formControlName="cellPhone1"
        placeholder="-- -- -- -- -- --"
        [ngClass]="{
          'is-invalid':
            (!formGroup.get('cellPhone1')?.valid &&
              formGroup.get('cellPhone1')?.touched) ||
            (!formGroup.get('cellPhone1')?.valid && formSubmitted)
        }"
        ng2TelInput
        [ng2TelInputOptions]="{initialCountry: 'ci'}"
        [enablePlaceholder]="false"
        customPlaceholder="Mobile Number"
        />
     
        <div class="invalid-feedback">
          <span *ngIf="formGroup.get('cellPhone1')?.errors?.required"
            >Ce champ est requis</span
          >
        </div>
      </div>

      <!-- Civilité -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2 rounded-pill">
        <label for="civility" class="form-label text-capitalize"
          >Civilité</label
        >
        <span *ngIf="!details && isAnAdult()" class="text-danger">*</span>
        <ng-select
          [ngClass]="{
            'is-invalid':
              (!formGroup.get('civility')?.valid &&
                formGroup.get('civility')?.touched) ||
              (!formGroup.get('civility')?.valid && formSubmitted)
          }"
          placeholder="Homme/Femme"
          formControlName="civility"
        >
          <ng-option *ngFor="let civility of civilitys" [value]="civility.value"
            >{{ civility.label }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback">
          <span *ngIf="formGroup.get('civility')?.errors?.required"
            >Ce champ est requis</span
          >
        </div>
      </div>
      <!-- height -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="height" class="form-label text-capitalize"
          >Taille(m)</label
        >
        <input
          type="text"
          id="height"
          class="form-control"
          formControlName="height"
        />
      </div>
       <!-- weight -->
       <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="weight" class="form-label text-capitalize"
          >Poids(kg)</label
        >
        <input
          type="text"
          id="weight"
          class="form-control"
          formControlName="weight"
        />
      </div>
      <!-- Type de pièce -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2 rounded-pill">
        <label for="idcardType" class="form-label text-capitalize"
          >Type de pièce</label
        >
        <span *ngIf="!details && isAnAdult()" class="text-danger">*</span>
        <ng-select
          [ngClass]="{
            'is-invalid':
              (!formGroup.get('idcardType')?.valid &&
                formGroup.get('idcardType')?.touched) ||
              (!formGroup.get('idcardType')?.valid && formSubmitted)
          }"
          placeholder="Homme/Femme"
          formControlName="idcardType"
        >
          <ng-option *ngFor="let typePiece of typePieces" [value]="typePiece.value"
            >{{ typePiece.label }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback">
          <span *ngIf="formGroup.get('idcardType')?.errors?.required"
            >Ce champ est requis</span
          >
        </div>
      </div>

      <!-- N° de pièce -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="idCardNumber" class="form-label text-capitalize"
          >N° de pièce
          <span *ngIf="!details && isAnAdult()" class="text-danger">*</span>
          </label
        >
        <input
        [ngClass]="{
          'is-invalid':
            (!formGroup.get('idCardNumber')?.valid &&
              formGroup.get('idCardNumber')?.touched) ||
            (!formGroup.get('idCardNumber')?.valid && formSubmitted)
        }"
          type="text"
          id="idCardNumber"
          class="form-control"
          formControlName="idCardNumber"
        />
        <div class="invalid-feedback">
          <span *ngIf="formGroup.get('idCardNumber')?.errors?.required"
            >Ce champ est requis</span
          >
        </div>
      </div>

   

      <!-- Profession -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="profession" class="form-label text-capitalize"
          >Profession</label
        >
        <span *ngIf="!details && isAnAdult()" class="text-danger">*</span>
        <input
          [ngClass]="{
            'is-invalid':
              (!formGroup.get('profession')?.valid &&
                formGroup.get('profession')?.touched) ||
              (!formGroup.get('profession')?.valid && formSubmitted)
          }"
          type="text"
          id="profession"
          class="form-control"
          formControlName="profession"
        />
        <div class="invalid-feedback">
          <span *ngIf="formGroup.get('profession')?.errors?.required"
            >Ce champ est requis</span
          >
        </div>
      </div>

      <!-- Correspondant -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="correspondant" class="form-label text-capitalize"
          >Correspondant</label
        >
        <span *ngIf="!details" class="text-danger">*</span>
        <input
          [ngClass]="{
            'is-invalid':
              (!formGroup.get('correspondant')?.valid &&
                formGroup.get('correspondant')?.touched) ||
              (!formGroup.get('correspondant')?.valid && formSubmitted)
          }"
          type="text"
          id="correspondant"
          class="form-control"
          formControlName="correspondant"
          placeholder="Personne a contacter en cas d'urgence"
        />
        <div class="invalid-feedback">
          <span *ngIf="formGroup.get('correspondant')?.errors?.required"
            >Ce champ est requis</span
          >
        </div>
      </div>

      <!-- N° Correspondant -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="correspondantCellPhone" style="display: blcok;" class="form-label text-capitalize"
          >Contact du correspondant</label
        >
        <div class="row">
          <div class="col">
          
            <input type="text"
            id="emergencyContact"
            class="form-control w-100"
            formControlName="emergencyContact"
            placeholder="-- -- -- -- -- --"
            ng2TelInput
            [ng2TelInputOptions]="{initialCountry: 'ci'}"
            />
          </div>
         
        </div>
   
      </div>

      <!-- Statut Matrimonial -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2 rounded-pill">
        <label for="maritalStatus" class="form-label text-capitalize"
          >Etat Matrimonial</label
        >
        <ng-select
          placeholder="Statut matrimonial"
          formControlName="maritalStatus"
        >
          <ng-option
            *ngFor="let statutMatrimonial of statutMatrimonials"
            [value]="statutMatrimonial.id"
            >{{ statutMatrimonial.value }}</ng-option
          >
        </ng-select>
      </div>

  

      <!-- Nombre d'enfant -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="numberOfChildren" class="form-label text-capitalize"
          >Nombre d'enfant</label
        >
        <input
          type="number"
          id="numberOfChildren"
          class="form-control"
          formControlName="numberOfChildren"
          [ngClass]="{
            'is-invalid':
              (!formGroup.get('numberOfChildren')?.valid &&
                formGroup.get('numberOfChildren')?.touched) ||
              (!formGroup.get('numberOfChildren')?.valid && formSubmitted)
          }"
        />
      </div>

      <!-- Pays -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2 rounded-pill">
        <label for="country" class="form-label text-capitalize">Pays</label>
        <ng-select
          id="country"
          placeholder="Pays"
          formControlName="country"
          (change)="onGetCityBycountry($event)"
        >
          <ng-option *ngFor="let country of countries" [value]="country.id">{{
            country.name
          }}</ng-option>
        </ng-select>
      </div>

      <!-- Ville -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2 rounded-pill">
        <label for="cityId" class="form-label text-capitalize">Ville</label>
        <ng-select id="cityId" placeholder="Ville" formControlName="cityId">
          <ng-option *ngFor="let city of cities" [value]="city.id">{{
            city.name
          }}</ng-option>
        </ng-select>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="solde" class="form-label text-capitalize"
          >Solde Patient</label
        >
        <input
          type="number"
          id="solde"
          class="form-control"
          formControlName="solde"
        />
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="solde" class="form-label text-capitalize"
          >Nom de la Mère</label
        >
        <input
          type="text"
          id="solde"
          class="form-control"
          formControlName="motherName"
        />
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label for="solde" class="form-label text-capitalize"
          >Localité de la Mère</label
        >
        <input
          type="text"
          id="solde"
          class="form-control"
          formControlName="motherLocality"
        />
      </div>
      
      <div  *ngIf="!disabledAllFormFiled" class="text-center fw-bold mb-2">le Patient est t-il assuré ?</div>
      <div  class="insurance_choise d-flex justify-content-center">
        <button
          style="background-color: rgb(91, 216, 91)"
          (click)="showInsuranceView()"
          type="button"
          class="btn mx-3 text-capitalize bg-biblos text-white rounded px-4 py-2 fw-bold"
        >
        <span >{{!disabledAllFormFiled == true ? 'Oui! Ajouter une assurance' : 'Assurance(s)'}}</span>
          
        </button>
        <button
        *ngIf="!disabledAllFormFiled"
          style="background-color: #14a2b8"
          type="submit"
          class="btn text-capitalize bg-biblos text-white rounded px-4 py-2 fw-bold"
        >
          Non! enregistrer le patient
        </button>
      </div>
    </div>

    <div *ngIf="!patientInfo" style="height: max">
      <div
        class="row mb-2"
        *ngFor="let insurance of insuranceFormGroup.controls; let i = index"
      >
        <ng-container [formGroup]="insurance">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label for="insurance-{{ i }}" class="form-label text-capitalize"
              >Assurance</label
            >
            <span *ngIf="!details" class="text-danger">*</span>
            <ng-select
              id="insurance"
              placeholder="Assurance"
              formControlName="insurance"
            >
              <ng-option
                *ngFor="let insurance of insurances"
                [value]="insurance.id"
                >{{ insurance.name }}</ng-option
              >
            </ng-select>
            <div *ngIf="formSubmitted && !insurance.controls.insurance.valid">
              <small *ngIf="insurance.controls.insurance.errors.required"
                  class="text-danger">
                  Veuillez choisir une assurance </small>
          </div>
          </div>
                           <!-- insuranceSuscriber -->
                           <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                            <label
                              for="insuranceSuscriber-{{ i }}"
                              class="form-label text-capitalize"
                              >Courtier</label
                            >
                            <span *ngIf="!details" class="text-danger">*</span>
                            <ng-select id="insurance" formControlName="insuranceSuscriber">
                              <ng-option
                                *ngFor="let subscriber of insurancesSubscribers"
                                [value]="subscriber.id"
                                >{{ subscriber.name }}</ng-option
                              >
                            </ng-select>
                            <div *ngIf="formSubmitted && !insurance.controls.insuranceSuscriber.valid">
                              <small *ngIf="insurance.controls.insuranceSuscriber.errors.required"
                                  class="text-danger">
                                  Veuillez choisir un coutier</small>
                          </div>
                          </div>

           <!-- society -->
           <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label
              for="society-{{ i }}"
              class="form-label text-capitalize"
              >Etablissement garant</label
            >
            <input
              type="text"
              id="society-{{ i }}"
              class="form-control"
              formControlName="society"
              [ngClass]="{
                'is-invalid': formsErrors['society']
              }"
            />
          
          </div>

          <!-- cardNumber -->
          <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label for="cardNumber-{{ i }}" class="form-label text-capitalize"
              >N° carte Assurance</label
            >
            <span *ngIf="!details" class="text-danger">*</span>
            <input
              type="text"
              id="cardNumber-{{ i }}"
              class="form-control"
              formControlName="cardNumber"
              [ngClass]="{ 'is-invalid': formsErrors['cardNumber'] }"
            />
            <div *ngIf="formSubmitted && !insurance.controls.cardNumber.valid">
              <small *ngIf="insurance.controls.cardNumber.errors.required"
                  class="text-danger">
                  Veuillez renseigner le N° de la Carte Assurance</small>
          </div>
          </div>

          <!-- coverage -->
          <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label for="coverage-{{ i }}" class="form-label text-capitalize"
              >Taux de couverture (%)</label
            >
            <span *ngIf="!details" class="text-danger">*</span>
            <ng-select
            class=""
            formControlName="coverage"
          >
            <ng-option
              *ngFor="let coverageRate of coverageRates"
              [value]="coverageRate.id"
              >{{ coverageRate.value }}</ng-option
            >
          </ng-select>
          <div *ngIf="formSubmitted && !insurance.controls.coverage.valid">
            <small *ngIf="insurance.controls.coverage.errors.required"
                class="text-danger">
                Veuillez selectionner un taux de couverture</small>
        </div>
          </div>

          
          <!-- Remove insurance -->
          <div *ngIf="!disabledAllFormFiled" class="col-md-6">
            <button (click)="onRemoveInsurance(i)" class="deleteInsurance">
              <fa-icon [icon]="AddIcon"></fa-icon>
            </button>
          </div>
        </ng-container>
      </div>
      <div *ngIf="!disabledAllFormFiled" class="row d-flex justify-content-center">
        <div class="col-md-6 text-center">
          <button type="button" (click)="onAddInsurance()" class="addInsurance">
            Ajouter une assurance
          </button>
        </div>
      </div>
      <div class="mt-5 d-flex justify-content-between">
        <button
          (click)="showInsuranceView()"
          type="button"
          class="btn text-capitalize bg-biblos justify-content-center text-white rounded px-4 py-2 fw-bold"
        >
          Retour
        </button>

        <button
        *ngIf="!disabledAllFormFiled"
          style="background-color: #14a2b8"
          type="submit"
          class="btn text-capitalize bg-biblos justify-content-center text-white rounded px-4 py-2 fw-bold"
        >
          VALIDER
        </button>
      </div>
    </div>
  </div>
</form>
