<ng-template #revokeConfirmation let-c="close" let-d="dismiss">
    <div class="modal-header ">
      <small>Voulez vous revoquer cette admission ? si oui continuer :-)....</small>
      <nb-icon
        style="cursor: pointer"
        (click)="d('Cross click')"
        class="h4"
        icon="close-circle-outline"
      ></nb-icon>
    </div>
    <div class="modal-body d-flex justify-content-center">
        <button (click)="OnRevokeAdmission(false)" class="btn btn-danger mx-2">Nom</button>
        <button (click)="OnRevokeAdmission(true)" class="btn btn-success">Oui</button>
    </div>
  
  </ng-template>