<nb-card class="nbCardList">
  <nb-card-header >
    <form [formGroup]="searchForm">
      <div class="row d-flex justify-content-between align-items-center mb-2">
        <div class="col-lg-9 col-md-9 col-sm-12">
          <h3>Consultations</h3>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
          <ng-select
            [(ngModel)]="selectedSize"
            formControlName="size"
            (change)="onSearchValueChange()"
          >
            <ng-option *ngFor="let size of sizes" [value]="size.id">{{
              size.value
            }}</ng-option>
          </ng-select>
        </div>
      </div>
    </form>
  </nb-card-header>
  <nb-card-body>
    <div class="tableFixHead">
      <table class="table table-bordered table-hover table-md align-middle">
        <thead class="pb-3 text-capitalize">
          <tr class="pb-3">
            <th>Date</th>
            <th>Observation</th>
            <th>Medecin</th>
            <th>Centre médical</th>
            <th>Actions</th>
          </tr>
          <tr></tr>
        </thead>
        <tbody>
          <tr *ngFor="
                let examination of items
                  | paginate
                    : {
                        itemsPerPage: selectedSize,
                        currentPage: currentPage,
                        totalItems: totalItems
                      };
                let i = index
              " [class.active]="i == currentIndex">
            <td>{{ examination?.date | date: "dd/MM/yyyy hh:mm:ss" }}</td>
            <td>{{ examination?.conclusion | uppercase }}</td>
            <td>{{ examination?.practicianFirstName }} {{ examination?.practicianLastName}}</td>
            <td>{{ examination?.facility }}</td>
            <td>
              <nb-icon (click)="openPrescriptionForm(prescriptionFormContent, examination)" class="mx-2 pointer"
                style=" cursor: pointer;" ngbTooltip="Délivrer une ordonnance" icon="file-outline"></nb-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex w-100 justify-content-center">
      <div style="color: #623508" *ngIf="showloading" class="spinner-border" style="width: 3rem; height: 3rem"
        role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onPageChange($event)">
      </pagination-controls>
    </div>
  </nb-card-body>
</nb-card>

<!-- add modal -->
<ng-template #addFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
      Ajouter une consultation
    </h4>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"></nb-icon>
  </div>
  <div class="modal-body">
    <app-new-examination [admissionId]="admissionId" (addExamination)="addExamination()"></app-new-examination>
  </div>
</ng-template>

<!-- add modal -->
<ng-template #prescriptionFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
      Ajouter une ordonnance
    </h4>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"></nb-icon>
  </div>
  <div class="modal-body">
    <app-prescription-form [examinationId]="examinationId" (addPrescription)="addPrescription()">
    </app-prescription-form>
  </div>
</ng-template>

<ng-template #PatientFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
      Ajouter une constante
    </h4>
    <nb-icon
      style="cursor: pointer"
      (click)="d('Cross click')"
      class="h4"
      icon="close-circle-outline"
    ></nb-icon>
  </div>
  <div class="modal-body">
    <app-patient-constant-form
    [patientId]="patientId"
      (addConstantType)="addConstantType()"
    ></app-patient-constant-form>
  </div>
</ng-template>

<ng-template #exameFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
      Demande d'analayse(s)
    </h4>
    <nb-icon
      style="cursor: pointer"
      (click)="d('Cross click')"
      class="h4"
      icon="close-circle-outline"
    ></nb-icon>
  </div>
  <div class="modal-body">
    <app-examen-form *ngIf="examenType == false" [admissionId]="admissionId"  (addExam)="addExamination()"></app-examen-form>
    <app-invoice-form *ngIf="examenType == true" InvoiceType="L" [admission]="admission" (addInvoice)="addInvoice()"></app-invoice-form>
  </div>
</ng-template>

<ng-template #chooseLaboratoryContent let-c="close" let-d="dismiss">
  <div class="modal-header ">
    <small>Selectionner le Type de Laboratoire ?</small>
    <nb-icon
      style="cursor: pointer"
      (click)="d('Cross click')"
      class="h4"
      icon="close-circle-outline"
    ></nb-icon>
  </div>
  <div class="modal-body d-flex justify-content-center">
      <button (click)="ChooseLaboratoryType(exameFormContent,false)" class="btn btn-danger mx-2">Externe</button>
      <button (click)="ChooseLaboratoryType(exameFormContent,true)" class="btn btn-success">Interne</button>
  </div>

</ng-template>