:root{

    --sh-font-weight: 400;
    --sh-background-color: #ffffff;

    --sh-text-primary-color: #495057;
    --sh-text-secondary-color: #6c757d;

    // ------------------------------- * ---------------------------------- //

    // === Primary ===
    --sh-color-primary: #14a2b8;
    --sh-color-primary-contrast: #ffffff;

    // === Secondary ===
    --sh-color-secondary: #607d8b;
    --sh-color-secondary-contrast: #ffffff;

    // == Tertiary ===
    --sh-color-tertiary: #eff3f8;
    --sh-color-tertiary-contrast: #181818;

    // == Success ===
    --sh-color-success: #22c55e;
    --sh-color-success-contrast: #ffffff;

    // == Font size ==
    --sh-font-size-extra-large : 30px;
    --sh-font-size-large: 24px;
    --sh-font-size-medium: 18px;
    --sh-font-size-default: 14px;
    --sh-font-size-intermediate: 12px;
    --sh-font-size-small: 11px;
    --sh-font-size-extra-small: 9px;

}// TODO : Handle dark and light mode Here




