.col-lg-3-imp {
    flex: 0 0 auto !important;
    width: 25% !important;
}

.col-lg-2-imp {
    flex: 0 0 auto !important;
    width: 16.66% !important;
}

.col-lg-1-imp {
    flex: 0 0 auto !important;
    width: 8.33% !important;
}