<nb-card class="nbCardList">
  <nb-card-header class="row d-flex justify-content-between align-items-center">
    <div class=" col-md-4 col-sm-12">
      <h4
      *ngIf="patientId == null"
        class="text-capitalize d-flex justify-content-start w-100 text-center"
      >
       {{ patient?.lastName }}
        {{ patient?.firstName }}
      </h4>
    </div>
    <div  class="col-md-4 col-sm-12">
      <div class="d-flex justify-content-end">
        <button *ngIf="newConstantsButtonVisibled" (click)="openAddForm(addFormContent)"
        class="text-capitalize btn mb-2 btn-block d-flex align-items-center justify-content-center text-white rounded"
        style="background-color: #14a2b8;">
        <nb-icon icon="plus-outline"></nb-icon>
      </button>
      </div>
     
   </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="searchForm">
      <div class="row d-flex justify-content-between align-items-center mb-2">
        <div class="col-lg-9 col-md-9 col-sm-12">
          <h3>Constantes</h3>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
          <ng-select
            [(ngModel)]="selectedSize"
            formControlName="size"
            (change)="onSearchValueChange()"
          >
            <ng-option *ngFor="let size of sizes" [value]="size.id">{{
              size.value
            }}</ng-option>
          </ng-select>
        </div>
      </div>
    </form>
    <div class="tableFixHead">
      <table class="table table-bordered table-hover table-md align-middle">
        <thead class="pb-3 text-capitalize">
          <tr class="pb-3">
            <th *ngFor="let uniquefieldHeade of uniqueTableHeaders">{{uniquefieldHeade}}</th>
          </tr>

          <tr></tr>
        </thead>

        <tbody>
          <ng-container
          *ngFor="
          let constant of items let i = index
        "[class.active]="i == currentIndex"
        (click)="rowSelected(commune, i)"
          >
           <tr>
            <ng-container *ngFor="let uniqueTableHeader of uniqueTableHeaders">
             <td controlConstant [constantName]="uniqueTableHeader" [constanValue]="constant[uniqueTableHeader]" style="text-align: center;">
              <span  >{{constant[uniqueTableHeader] ? constant[uniqueTableHeader] : "-"}}</span>
             </td>
          </ng-container>
           </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="d-flex w-100 justify-content-center">
      <div
        style="color: #623508"
        *ngIf="showloading"
        class="spinner-border"
        style="width: 3rem; height: 3rem"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
 
  </nb-card-body>
</nb-card>

<ng-template #addFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div>
      <span class="modalTitle" >Nouvel Constant</span>
      <span class="modal-subTitle" >--</span>
    </div>
  
    <nb-icon
      style="cursor: pointer"
      (click)="d('Cross click')"
      class="h4"
      icon="close-circle-outline"
    ></nb-icon>
  </div>
  <div class="modal-body">
    <app-patient-constant-form
      [patientId]="patient.id"
      (addConstantType)="addConstantType()"
    ></app-patient-constant-form>
  </div>
</ng-template>

<ng-template #updateFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="text-capitalize modal-title color-biblos" id="update-form-modal">
      Modifer une constante
    </h4>
    <nb-icon
      style="cursor: pointer"
      (click)="d('Cross click')"
      class="h4"
      icon="close-circle-outline"
    ></nb-icon>
  </div>
  <div class="modal-body">
    <app-patient-constant-form
      [constantType]="constantType"
      (updateConstantType)="updateConstantType()"
    ></app-patient-constant-form>
  </div>
</ng-template>


<ng-template #constantListFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="text-capitalize modal-title color-biblos" id="update-form-modal">
      Détails
    </h4>
    <nb-icon
      style="cursor: pointer"
      (click)="d('Cross click')"
      class="h4"
      icon="close-circle-outline"
    ></nb-icon>
  </div>
  <div class="modal-body">
 <app-constant-list
 [patientId]="patientId"
 [PatientconstantDomain]="PatientconstantDomain"
 ></app-constant-list>
  </div>
</ng-template>
