<div class="">
    <div class="row">
        <div class="col-md-6">
            <nb-accordion multi>
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        {{examenComplementaryTypes[0].label | uppercase}}
                     </nb-accordion-item-header>
                     <nb-accordion-item-body>
                            <analysis-biological (analysisSelectEvent)="onSelectedExamenComplementary($event)" ></analysis-biological>
                     </nb-accordion-item-body>
                </nb-accordion-item>
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        {{examenComplementaryTypes[1].label | uppercase}}
                     </nb-accordion-item-header>
                     <nb-accordion-item-body>
                        <imagery (analysisSelectEvent)="onSelectedExamenComplementary($event)" ></imagery>
                     </nb-accordion-item-body>
                </nb-accordion-item>
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        {{examenComplementaryTypes[2].label | uppercase}}
                     </nb-accordion-item-header>
                     <nb-accordion-item-body>
                     </nb-accordion-item-body>
                </nb-accordion-item>
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        {{examenComplementaryTypes[3].label | uppercase}}
                     </nb-accordion-item-header>
                     <nb-accordion-item-body>
                     </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </div>
        <div class="col-lg-6 pb-2">
            <div class="actsSelected mb-3 px-3">
                <div class="mb-4" *ngFor="let examenComplementaryType of examenComplementriesTypeLeftSection; let i = index">
                    <span class="actsSelected_title">{{examenComplementaryType}}</span>
                    <div class="act_selectedBox mt-2" *ngFor="let exam of selectedExamens; let i = index"
                    [hidden]="exam?.examenComplementaryType != examenComplementaryType">
                    <div class="accordion_item">
                        <div class="act_selectedItem mx-2">
                            <span class="mx-2">{{exam?.actCode}} - {{exam?.actName}}</span>
                            <div class="closeBtn">
                                <nb-icon 
                                    class="pointer text-white" style=" cursor: pointer; " icon="close-outline">
                                </nb-icon>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <textarea class="mb-3 form-control"  [(ngModel)]="examenCreateData.observation" placeholder="COMMENTAIRE" style="width: 100%;"
            rows="3"></textarea>
        <button *ngIf="examenComplementriesTypeLeftSection.length != 0" (click)="create()"
            style="background-color: #14a2b8;" class="text-capitalize btn btn-block w-25 text-white rounded">
            <span class="fw-bold"> DEMANDER</span>
        </button>
    </div>
  
</div>
</div>