<div class="sh-width-full {{ styleClass }}">
        <div class="row mt-3">
                <div class="col-lg-6">
                        <data-field-text label="Nom" [value]="data.firstName"></data-field-text>
                </div>

                <div class="col-lg-6">
                        <data-field-text label="Prénom(s)" [value]="data.lastName"></data-field-text>
                </div>

                <div class="col-lg-6">
                        <data-field-text label="Numéro de Téléphone" [value]="data.cellPhone1"></data-field-text>
                </div>

                <div class="col-lg-6">
                        <data-field-text label="Email" [value]="data.email"></data-field-text>
                </div>

                <div class="col-lg-6">
                        <data-field-text label="Pays de Naissance" [value]="data.country.name"></data-field-text>
                </div>

                <div class="col-lg-6">
                        <data-field-text label="Ville de Naissance" [value]="data.city.name"></data-field-text>
                </div>

                <div class="col-lg-6">
                        <data-field-text label="Pays de Résidence" [value]="data.countryOfResidence.name"></data-field-text>
                </div>

                <div class="col-lg-6">
                        <data-field-text label="Ville de Résidence" [value]="data.cityOfResidence.name"></data-field-text>
                </div>

                <div class="col-lg-6">
                        <data-field-text label="Correspondant" [value]="data.correspondant"></data-field-text>
                </div>

                <div class="col-lg-6">
                        <data-field-text label="Numéro du Correspondant" [value]="data.emergencyContact"></data-field-text>
                </div>

                <div class="col-lg-6">
                        <data-field-text label="Profession" [value]="data.profession"></data-field-text>
                </div>
        </div>
</div>