<nb-card class="nbCardList">
    <nb-card-body>
      <form [formGroup]="searchForm">
        <div class="row d-flex justify-content-between align-items-center mb-2">
          <div class="col-lg-9 col-md-9 col-sm-12">
            <h3>Ordonnances</h3>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12">
            <ng-select
              [(ngModel)]="selectedSize"
              formControlName="size"
              (change)="onSearchValueChange()"
            >
              <ng-option *ngFor="let size of sizes" [value]="size.id">{{
                size.value
              }}</ng-option>
            </ng-select>
          </div>
        </div>
      </form>
      <div class="">
        <table class="table table-bordered table-hover table-md align-middle">
          <thead class="pb-3 text-capitalize">
            <tr class="pb-3">
                <th>Date</th>
              <th>N° Oronnance</th>
              <th>Practicien</th>
              <th>N° du Practicien</th>
              <th>Centre de santé</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>
  
          <tbody>
            <tr
              *ngFor="
                let prescription of items
                  | paginate
                    : {
                        itemsPerPage: selectedSize,
                        currentPage: currentPage,
                        totalItems: totalItems
                      };
                let i = index
              "
              [class.active]="i == currentIndex"
            >

                <td>{{ prescription?.prescritionDate | date : 'medium' }}</td>
                 <td>{{ prescription?.prescriptionNumber | uppercase }}</td>
              
                <td>{{ prescription?.practicienFirstName }} {{ prescription?.practicienLastName }}</td>
                <td>{{prescription?.practicienTel}}</td>
                <td>{{ prescription?.faciityName }}</td>
                <td class="text-center">
                  <span class="status" [ngClass]="{'statusSuccess': prescription?.prescriptionStatus == 'Servi', 'statusError': prescription?.prescriptionStatus == 'Non Servi'}" >{{prescription?.prescriptionStatus}}</span>
                </td>
                <td>
                    <nb-icon (click)="printPrescription(printContent,prescription)" class="mx-2 pointer" style=" cursor: pointer;" ngbTooltip="Imprimer l'ordonnance" icon="file-outline"></nb-icon>

                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex w-100 justify-content-center">
        <div
          style="color: #623508"
          *ngIf="showloading"
          class="spinner-border"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div  class="d-flex justify-content-center">
        <pagination-controls
          responsive="true"
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onPageChange($event)"
        >
        </pagination-controls>
      </div>
    </nb-card-body>
  </nb-card>
  
  <!-- add modal -->
  <ng-template #addFormContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
        Ajouter une ordonnance
      </h4>
      <nb-icon
        style="cursor: pointer"
        (click)="d('Cross click')"
        class="h4"
        icon="close-circle-outline"
      ></nb-icon>
    </div>
    <div class="modal-body">
      <app-prescription-form (addPrescription)="addPrescription()"></app-prescription-form>
    </div>
  </ng-template>
  
  <!-- update modal -->
  <ng-template #updateFormContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="text-capitalize modal-title color-biblos" id="update-form-modal">
        Modifer une ordonnance
      </h4>
      <nb-icon
        style="cursor: pointer"
        (click)="d('Cross click')"
        class="h4"
        icon="close-circle-outline"
      ></nb-icon>
    </div>
    <div class="modal-body">
      <app-prescription-form
        [patient]="patient"
        (updatePatient)="updatePatient()"
      ></app-prescription-form>
    </div>
  </ng-template>

  <!-- ngx-extended-pdf-viewer -->
<ng-template #printContent let-c="close" let-d="dismiss">
    <div class="modal-header bg-gray">
      <h4 class="text-capitalize modal-title" id="update-form-modal">IMPRIMER</h4>
      <nb-icon
        style="cursor: pointer"
        (click)="d('Cross click')"
        class="h4"
        icon="close-circle-outline"
      ></nb-icon>
    </div>
    <div class="modal-body bg-gray">
      <ngx-extended-pdf-viewer
        *ngIf="docSrc"
        [src]="docSrc"
        useBrowserLocale="true"
        height="80vh"
      >
      </ngx-extended-pdf-viewer>
    </div>
  </ng-template>
  