<form [formGroup]="roomForm" (ngSubmit)="save()">
  <div
    *ngIf="showloading == true"
    class="overlay d-flex justify-content-center align-items-center"
  >
    <div class="d-flex w-100 justify-content-center">
      <div
        class="spinner-border"
        style="width: 5rem; height: 5rem; color: #623508"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <small *ngIf="!details" class="mb-2 fw-bold"
    >Nb: Tous les champs marqués par <span class="text-danger">*</span> sont
    obligatoires</small
  >
  <div *ngIf="invalidFom" class="alert alert-danger">Formulaire invalid</div>
  <div class="row mb-2">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <label for="libelle" class="form-label text-capitalize">libelle</label>
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        class="form-control"
        formControlName="libelle"
        [ngClass]="{ 'is-invalid': formsErrors['libelle'] }"
      />
      <span style="color: red">
        {{ formsErrors["libelle"] }}
      </span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <label for="floor" class="form-label text-capitalize">Etage</label>
      <span *ngIf="!details" class="text-danger">*</span>
      <ng-select placeholder="Etage" formControlName="storey">
        <ng-option *ngFor="let floor of floorList" [value]="floor.id">{{
          floor.libelle
        }}</ng-option>
      </ng-select>
      <span style="color: red">
        {{ formsErrors["floor"] }}
      </span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <label for="bedroomType" class="form-label text-capitalize"
        >Type de chambre</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <ng-select placeholder="Type de chambre" formControlName="bedroomType">
        <ng-option
          *ngFor="let bedroomType of bedroomTypeList"
          [value]="bedroomType.id"
          >{{ bedroomType.libelle }}</ng-option
        >
      </ng-select>
      <span style="color: red">
        {{ formsErrors["bedroomType"] }}
      </span>
    </div>
  </div>
  <div *ngIf="!details" class="mt-3 col">
    <div class="">
      <button
        style="background-color: #14a2b8"
        type="submit"
        class="btn text-capitalize bg-biblos justify-content-center text-white rounded px-4 py-2 fw-bold"
      >
        VALIDER
      </button>
    </div>
  </div>
</form>
