<p-toast></p-toast>

<div class="login">
    <div class="login__box-form forgot-password">
        <div *ngIf="!showSuccesMessage" class="reset-box">
            <div class="login__header text-center">
                <img width="170" src="../assets/vne02.png" alt="logo">
                <p>
                    Indiquez l’adresse e-mail du compte afin de recevoir un e-mail
                    et réinitialiser votre mot de passe.
                </p>
            </div>
    
            <!-- login form -->
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onforgotPassword()" class="login-form">
                <!-- <p-messages></p-messages> -->
                <div class="login-form__item">
                    <label for="#">Adresse mail</label>
                    <input type="email" formControlName="email" pInputText />
                    <div class="text-left" *ngIf="formSubmitted && !email?.valid">
                        <small class="error" *ngIf="email?.errors?.['required'] ||
                       ((email?.dirty ||
                       email?.touched))
                      ">Ce champs est requis</small>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn-standar btn-login mb-2" [disabled]="!forgotPasswordForm.valid"
                        [ngClass]="{'btn-disabled': !forgotPasswordForm.valid}">
                        <span *ngIf="onLoading" class="loginLoading"><i class="pi pi-spin pi-spinner"></i></span>
                        <span *ngIf="!onLoading">Réinitialiser</span>
                    </button>
                    <a class="go_to_login" routerLink="/account/login">
                        <i class="pi pi-arrow-left"></i>
                        retour
                    </a>
                </div>
    
            </form>
        </div>
        <div *ngIf="showSuccesMessage" class="message-succes text-center">
            <img width="170" class="mb-4" src="../assets/vne02.png" alt="logo">
            <h3>E-mail de réinitialisation envoyé</h3>
            <p class="mt-4 mb-4">
                Vous allez recevoir sous peu un message à l’adresse {{mailUser}}. Celui-ci contient un lien de vérification qui vous permettra de changer de mot de passe.
            </p>
            <p>
                Vous pouvez fermer cette fenêtre.
            </p>
        </div>
    </div>
</div>