<nb-card>
   
    <nb-card-body>
      <div >
        <div class="row d-flex ">
          <div class="col-lg-3">
            <button 
            (click)="openExaminationForm(addFormContent, 'xl')"
              class="text-capitalize btn mb-2 btn-block w-100 d-flex align-items-center justify-content-center text-white rounded"
              style="background-color: #14a2b8;">
              <nb-icon icon="plus-outline"></nb-icon>
              <span>Consultation</span>
            </button>
          </div>
          <div class="col-lg-3">
            <button (click)="onOpenModal(constantForm, 'lg')"
              class="text-capitalize btn mb-2 btn-block w-100 d-flex align-items-center justify-content-center text-white rounded"
              style="background-color: #14a2b8;">
              <nb-icon icon="plus-outline"></nb-icon>
              <span>Constante</span>
            </button>
          </div>        
          <div class="col-lg-3">
            <button 
            (click)="onOpenModal(prescriptionFormContent, 'xl')"
              class="text-capitalize btn mb-2 btn-block w-100 d-flex align-items-center justify-content-center text-white rounded"
              style="background-color: #14a2b8;">
              <nb-icon icon="plus-outline"></nb-icon>
              <span [style.display]="'block'">Ordonnance </span>
            </button>
          </div>

          <div class="col-lg-3">
            <button 
              class="text-capitalize btn mb-2 btn-block w-100 d-flex align-items-center justify-content-center text-white rounded"
              style="background-color: #14a2b8;">
              <nb-icon icon="plus-outline"></nb-icon>
              <span [style.display]="'block'">Certificats </span>
            </button>
          </div>
          <div class="col-lg-3">
            <button 
             (click)="onOpenModal(assignmentForm, 'lg')"
              class="text-capitalize btn mb-2 btn-block w-100 d-flex align-items-center justify-content-center text-white rounded"
              style="background-color: #14a2b8;">
              <nb-icon icon="plus-outline"></nb-icon>
              <span [style.display]="'block'">Affectation </span>
            </button>
          </div>
          <div class="col-lg-3">
            <button 
            (click)="onOpenModal(transfertForm, 'lg')"
              class="text-capitalize btn mb-2 btn-block w-100 d-flex align-items-center justify-content-center text-white rounded"
              style="background-color: #14a2b8;">
              <nb-icon icon="plus-outline"></nb-icon>
              <span [style.display]="'block'">Evacuation</span>
            </button>
          </div>
          <div class="col-lg-3">
            <button
           
            (click)="onPatientDeath(patientDeathFormRef)" 
              class="text-capitalize btn mb-2 btn-block w-100 d-flex align-items-center justify-content-center text-white rounded"
              style="background-color: #14a2b8;">
              <nb-icon icon="plus-outline"></nb-icon>
              <span [style.display]="'block'">Transfert </span>
            </button>
          </div>
          <div class="col-lg-3">
            <button  class="text-capitalize btn mb-2 btn-block w-100 d-flex align-items-center justify-content-center text-white rounded"
            style="background-color: #14a2b8;" > <a href="https://www.calameo.com/read/007447978ecdfcfe57d3e" target="_blank" style="text-decoration: none; color: white;">Carnet de Santé</a></button>
          </div>

          <div class="col-lg-3">
            <button
           
            (click)="onOpenModal(hospitalizationRequestRef, 'lg')"
              class="text-capitalize btn mb-2 btn-block w-100 d-flex align-items-center justify-content-center text-white rounded"
              style="background-color: #14a2b8;">
              <nb-icon icon="plus-outline"></nb-icon>
              <span [style.display]="'block'">Démande d'hospitalisation </span>
            </button>
          </div>
          </div>
          
      </div>
        
        <div class="row">
            <div class="col-lg-2">
                <nb-menu [items]="items2" autoCollapse="true">
                </nb-menu>
            </div>      
            <div *ngIf="canShowConsultationList == true && menuClick=='Consultations'" class="col-lg-10">
                <app-examination-list [(newExamination)]="newExamination" [admissionID]="admissionID" [patientId]="patientId" [patient]="patient"></app-examination-list>
            </div>
            <div *ngIf="menuClick=='Constantes'" class="col-lg-10"> 
                <app-patient-constant [newConstantsButtonVisibled]="false" (updatePattientConstantNumber)="updatePattientConstantNumber()" *ngIf="showConstantList == true" [admissionId]="admissionId" [patientId]="patientId"></app-patient-constant>
            </div>
            <div *ngIf="menuClick=='Examens'" class="col-lg-10">
                <app-examen-list (updatePatientExamenNumber)="updatePatientExamenNumber()" [admissionId]="admissionID" [patientId]="patientId"></app-examen-list>
            </div>
            <div *ngIf="menuClick=='Ordonances'" class="col-lg-10">
                <app-prescription-list (prescriptionNumberChangeEvent)="onChangePrescriptionNumber()" [admissionId]="admissionID" [patientId]="patientId"></app-prescription-list>
            </div>
            <div *ngIf="menuClick=='Certificats médicaux'" class="col-lg-10">
                <app-medical-certificates-list></app-medical-certificates-list>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<ng-template #addFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
      Ajouter une consultation
    </h4>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"></nb-icon>
  </div>
  <div class="modal-body">
    <app-new-examination [admissionId]="admissionID" [patient]="patient" [admission]="admission" (addExamination)="updateExaminationNuber()"></app-new-examination>
  </div>
</ng-template>

<ng-template #constantForm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
      Ajouter une constante
    </h4>
    <nb-icon
      style="cursor: pointer"
      (click)="d('Cross click')"
      class="h4"
      icon="close-circle-outline"
    ></nb-icon>
  </div>
  <div class="modal-body">
    <app-patient-constant-form
    [patientId]="patientId"
      (addConstantType)="addConstantType()"
    ></app-patient-constant-form>
  </div>
</ng-template>

<ng-template #prescriptionFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
      Ajouter une ordonnance
    </h4>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"></nb-icon>
  </div>
  <div class="modal-body">
    <app-prescription-form [examinationId]="examinationID" [patient]="patient" [admissionId]="admissionID" (addPrescription)="handleAddPrescriptionEvent()">
    </app-prescription-form>
  </div>
</ng-template>

<!-- Affectation-->
<ng-template #assignmentForm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div>
      <span class="modalTitle" >Affectation</span>
      <span class="modal-subTitle" >Affecter votre patient vers un autre service</span>
    </div>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"></nb-icon>
  </div>
  <div class="modal-body"> 
    <app-admission-form [patient]="patient" (addAdmission)="handleAssignment()"></app-admission-form> </div>
</ng-template>


<!-- Transfert -->
<ng-template #transfertForm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div>
      <span class="modalTitle" >Evacuation</span>
      <span class="modal-subTitle" >Evacuez votre patient vers un autre établissement</span>
    </div>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"></nb-icon>
  </div>
  <div class="modal-body"> 
    <gmhis-evacuation-create-update (saveEvent)="handleSaveEvacuation()" [admission]="admission"></gmhis-evacuation-create-update>

 </div>
</ng-template>

<ng-template #patientDeathFormRef let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div>
      <span class="modalTitle" >Décès</span>
      <span class="modal-subTitle" >Déclarez le décès d'un patient</span>
    </div>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"></nb-icon>
  </div>
  <div class="modal-body"> 
    <gmhis-death-create-update (saveEvent)="handleDeathSaveEvent()" [patientID]="patient.id"></gmhis-death-create-update>

 </div>
</ng-template>

<ng-template #hospitalizationRequestRef let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div>
      <span class="modalTitle" >Démande d'hospitalisation</span>
      <span class="modal-subTitle" >Faites une Démande d'Hospitalisation qui sera transmise au Médécin Conseil </span>
    </div>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"></nb-icon>
  </div>
  <div class="modal-body"> 
    <gmhis-hospitalization-request-create-update [patientID]="patient.id" [admissionID]="admissionID" (saveEvent)="handleHospitalizationRequestSaveEvent()"></gmhis-hospitalization-request-create-update>
 </div>
</ng-template>

