<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-lg-2">
                <nb-menu [items]="items2"  autoCollapse="true">
                </nb-menu>
            </div>      
            <div *ngIf="showConsultationList == true && menuClick=='Consultations'" class="col-lg-10">
                <h5 class="mb-4">CONSULTATIONS</h5>
                <app-examination-list (updatePatientPrescriptionNumber)="updatePatientPrescriptionNumber()"  (updateExaminationNuber)="updateExaminationNuber()" [admissionId]="admissionId" [patientId]="patientId"></app-examination-list>
            </div>
            <div *ngIf="menuClick=='Constantes'" class="col-lg-9"> 
                <h5 class="mb-4">CONSTANTES</h5>
                <app-patient-constant (updatePattientConstantNumber)="updatePattientConstantNumber()" *ngIf="showConstantList == true" [admissionId]="admissionId" [patientId]="patientId"></app-patient-constant>
            </div>
            <div *ngIf="menuClick=='Examens'" class="col-lg-10">
                <h5 class="mb-4">DEMANDES D'EXAMENS</h5>
                <app-examen-list (updatePatientExamenNumber)="updatePatientExamenNumber()" [admissionId]="admissionId" [patientId]="patientId"></app-examen-list>
            </div>
            <div *ngIf="menuClick=='Ordonances'" class="col-lg-10">
                <h5 class="mb-4">ORDONNANCES</h5>
                <app-prescription-list  (updatePatientPrescriptionNumber)="updatePatientPrescriptionNumber()" [admissionId]="admissionId" [patientId]="patientId"></app-prescription-list>
            </div>
            <div *ngIf="menuClick=='Certificats médicaux'" class="col-lg-10">
                <h5 class="mb-4">CERTIFICATS MEDICAUX</h5>
                <app-medical-certificates-list></app-medical-certificates-list>
            </div>
        </div>
    </nb-card-body>
</nb-card>

