<form [formGroup]='examinationForm' (submit)='save()'>
    <div class="row">
        <div>
          <app-patient-constant [patientId]="patient.id" [PaginationSize]="3" [newConstantsButtonVisibled]="false"></app-patient-constant>
        </div>
        <div class="col-md-12">
            <label class="fw-bold mb-2" for="reason">Motif de la consultation<span class="text-danger">*</span></label>
            <textarea class="form-control" formControlName="examinationReasons" rows="4"></textarea>
            <span class="text-danger" *ngIf="formSubmitted && !examinationForm.controls.examinationReasons.valid">
                <div *ngIf="examinationReasons.errors.required" class="text-danger">Veuillez renseigner le motif de la
                    consultation </div>
            </span>
        </div>

        <div *ngIf="makePrescription" class="col-md-12">
          <label class="fw-bold mb-2" for="reason">Diagnostic</label>
          <textarea class="form-control" formControlName="conclusion" rows="4"></textarea>
      </div>
    </div>
</form>
<div [style.margin-top]="'20px'" class=" d-flex justify-content-center">
  <div  *ngIf="!makePrescription">
    <button class="btn-submit" (click)="onMakePrescription()">Ordonnance</button>
    <button class="btn-submit mx-4" (click)="onChooseLaboratory(chooseLaboratoryContent, 'md')">Examens</button>
    <button class="btn-submit mx-4" (click)="onpenExamComplementary(examenComplementary)">Examens Complementaires</button>
  </div>

    <button *ngIf="makePrescription" (click)="onPrescriptionCreate(prescriptionCreateComponent)" class="btn-submit">Ordonnnance</button>
</div>


<ng-template #examenComplementary let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div>
      <span class="modalTitle" >Examen Complémentaire</span>
      <span class="modal-subTitle">Prescriver des examens complementaire pour compléter les examens cliniques</span>
    </div>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"  ></nb-icon>
  </div>
  <div class="modal-body">
    <examen-complementary-manager [admissionId]="admissionId" (addExam)="addExam()"></examen-complementary-manager>
  </div>
</ng-template>

<ng-template #prescriptionCreateComponent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
      Ajouter une ordonnance
    </h4>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"></nb-icon>
  </div>
  <div class="modal-body">
    <app-prescription-form [patient]="patient" (addPrescription)="addPrescription()"></app-prescription-form>
  </div>
</ng-template>

<ng-template #chooseLaboratoryContent let-c="close" let-d="dismiss">
    <div class="modal-header ">
      <small>Selectionner le Type de Laboratoire ?</small>
      <nb-icon
        style="cursor: pointer"
        (click)="d('Cross click')"
        class="h4"
        icon="close-circle-outline"
      ></nb-icon>
    </div>
    <div class="modal-body d-flex justify-content-center">
        <button (click)="onExamType(exame)" class="btn btn-danger mx-2">Externe</button>
        <button (click)="onExamType(invoice)" class="btn btn-success">Interne</button>
    </div>
  </ng-template>

  <ng-template #exame let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
        Demande d'analayse(s)
      </h4>
      <nb-icon
        style="cursor: pointer"
        (click)="d('Cross click')"
        class="h4"
        icon="close-circle-outline"
      ></nb-icon>
    </div>
    <div class="modal-body">
      <app-examen-form [examenType]="examenType" [admissionId]="admissionId" (addExam)="addExam()"></app-examen-form>
    </div>
</ng-template>

<ng-template #invoice let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div>
      <span class="modalTitle" >Nouvelle Facture</span>
      <span class="modal-subTitle">---</span>
    </div>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"  ></nb-icon>
  </div>
  <div class="modal-body">
    <app-invoice-form [admission]="admission" (addInvoice)="addInvoice()"> </app-invoice-form>
  </div>
</ng-template>

<ng-template #invoice let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div>
      <span class="modalTitle" >Nouvelle Facture</span>
      <span class="modal-subTitle">---</span>
    </div>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"  ></nb-icon>
  </div>
  <div class="modal-body">
    <app-invoice-form [admission]="admission" (addInvoice)="addInvoice()"> </app-invoice-form>
  </div>
</ng-template>
