<div class="h-100">
    <nb-tabset>
        <nb-tab tabTitle="Demandes">
            <gmhis-hospitalization-request-listing></gmhis-hospitalization-request-listing>
        </nb-tab>
        <nb-tab tabTitle="Dévis">
            <gmhis-quotations></gmhis-quotations>
        </nb-tab>
        <nb-tab tabTitle="Factures">
            <gmhis-invoice-h></gmhis-invoice-h>
        </nb-tab>
        <nb-tab tabTitle="Liste">
            <gmhis-hospitalizations></gmhis-hospitalizations>
        </nb-tab>
       </nb-tabset>
</div>