<nb-card class="nbCardList">
  <nb-card-header class="row d-flex justify-content-between align-items-center">
    <div class="col-lg-7 col-md-3 col-sm-12">
      <h4
        class="text-capitalize d-flex justify-content-start w-100 text-center"
      >
        Patients
      </h4>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-12 justify-content-end">
      <button
      (click)="onOpenModal(addFormContent,'xl', null)"
      class="text-capitalize btn mb-2 btn-block  w-100 d-flex align-items-center justify-content-center text-white rounded"
      style="background-color: #14a2b8;"
    >
      <nb-icon icon="plus-outline"></nb-icon>
    </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="searchForm">
      <div class="row d-flex justify-content-between align-items-end mb-2">
        <div class="col-lg-10 col-md-10 col-sm-12 row">
          <div class="col-lg-11 row">
            <div class="col-lg-3 col-md-3 col-sm-12 mb-2 rounded-pill">
              <input
                type="text"
                class="form-control"
                formControlName="patientExternalId"
                placeholder="N° Patient"
              />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mb-2 rounded-pill">
              <input
                type="text"
                class="form-control"
                formControlName="idCardNumber"
                placeholder="N° carte d'identité"
              />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mb-2 rounded-pill">
              <input
                type="text"
                class="form-control"
                formControlName="lastName"
                placeholder="Nom"
              />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mb-2 rounded-pill">
              <input
                type="text"
                class="form-control"
                formControlName="firstName"
                placeholder="Prenom"
              />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mb-2 rounded-pill">
              <input
                type="text"
                class="form-control"
                formControlName="cellPhone"
                placeholder="N° Tel"
              />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mb-2 rounded-pill">
              <input
                type="text"
                class="form-control"
                formControlName="correspondant"
                placeholder="correspondant"
              />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mb-2 rounded-pill">
              <input
                type="text"
                class="form-control"
                formControlName="emergencyContact"
                placeholder="N° Tel. Correspondant"
              />
            </div>
          </div>
          <div class="col-lg-1">
            <span
              (click)="onSearchValueChange()"
              style="background-color: #ededed; color: #14a2b8; cursor: pointer"
              class="material-icons px-2 p-1 rounded"
            >
              search
            </span>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12">
          <ng-select
            [(ngModel)]="selectedSize"
            formControlName="size"
            (change)="onSearchValueChange()"
          >
            <ng-option *ngFor="let size of sizes" [value]="size.id">{{
              size.value
            }}</ng-option>
          </ng-select>
        </div>
      </div>
    </form>
    <div class="">
      <table class="table table-bordered table-hover table-md align-middle">
        <thead class="pb-3 text-capitalize">
          <tr class="pb-3">
            <th>N° Patient</th>
            <th>Civilité</th>
            <th>Nom</th>
            <th>Prénom(s)</th>
            <th>Date de naissance</th>
            <th>profession</th>
            <th>Contact 1</th>
            <th>Type Carte ID</th>
            <th>N° carte ID</th>
            <th>Correspondant</th>
            <th>N° De Tel. Correspondant</th>
            <th>Nom de la mère</th>
            <th>Localité de la mère</th>
            <th>Date de Création</th>
            <th>Date de modification</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="
              let patient of pagination.items
                | paginate
                  : {
                    itemsPerPage: pagination.selectedSize,
                    currentPage: pagination.currentPage,
                    totalItems: pagination.totalItems
                  };
              let i = index
            "
            [class.active]="i == currentIndex"
            (click)="rowSelected(patient, i)"
            (dblclick)="onRecord(detailRef,'lg', patient)"
          >
            <td>{{ patient?.patientExternalId | uppercase }}</td>
            <td>{{ patient?.civility }}</td>
            <td>{{ patient?.lastName | uppercase }}</td>
            <td>{{ patient?.firstName | uppercase }}</td>
            <td>{{ patient?.birthDate | date }}</td>
            <td>{{ patient?.profession }}</td>
            <td>{{ patient?.cellPhone1 }}</td>
            <td class="text-nowrap">{{ patient?.idcardType }}</td>
            <td class="text-nowrap">{{ patient?.idCardNumber }}</td>
            <td class="text-nowrap">{{ patient.correspondant }}</td>
            <td class="text-nowrap">{{ patient.emergencyContact }}</td>
            <td>{{patient?.motherName}}</td>
            <td>{{patient?.motherLocality}}</td>
            <td class="text-nowrap">{{ patient.createdAt | date:  "dd/MM/yyyy HH:mm:ss" }}</td>
            <td class="text-nowrap">{{ patient.updatedAt | date:  "dd/MM/yyyy HH:mm:ss" }}</td>
            <td>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-info" id="dropdownBasic1"ngbDropdownToggle>...</button>
                    <div class="text" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="text-center" (click)="onOpenModal(editRef,'xl', patient)" ngbDropdownItem > Modifier</button>
                        <button class="text-center" (click)="onOpenModal(createAdmissionRef, 'lg', patient)" ngbDropdownItem> Nouvelle Admiss</button>
                        <button class="text-center" (click)="onOpenCautionForm(cautionFormRef, patient)" ngbDropdownItem > Ajouter une caution</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex w-100 justify-content-center">
      <div *ngIf="loading" style="color: #623508" class="spinner-border" style="width: 3rem; height: 3rem" role="status">
        <span class="sr-only">Loading...</span>
      </div>

    </div>
    <div *ngIf="emptyListMessage == '' "  class="d-flex justify-content-center">
        <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
    <span style="display: block; text-align: center;" *ngIf="emptyListMessage != '' "> {{emptyListMessage}}</span>

  </nb-card-body>
</nb-card>


<!-- ========================================================================================================================== -->

<ng-template #cautionFormRef let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div *ngTemplateOutlet="modalHeader; context: {title: 'Caution', subTitle: 'Ajouter une Nouvelle Caution'}"></div>
    <nb-icon style="cursor: pointer" class="h4" icon="close-circle-outline" (click)="d('Cross click')"></nb-icon>
  </div>
  <div class="modal-body"> 
    <div class="row">
        <div class="col-12">
          <input class="form-control" type="number" placeholder="Entrez le montant de la caution" [(ngModel)]="amount">
        </div>
    </div>
    <sh-button type="button" label="Valider" (clickEvent)="onCreateCaution()"></sh-button>
  </div>
</ng-template>

<!-- Record modal -->
<ng-template #detailRef let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div *ngTemplateOutlet="modalHeader; context: {title: modalHeaderTitle}"></div>
    <nb-icon style="cursor: pointer" class="h4" icon="close-circle-outline" (click)="d('Cross click')"></nb-icon>
  </div>
  <div class="modal-body"> 
    <gmhis-patient-details [data]="patient"></gmhis-patient-details>
  </div>
</ng-template>

<!-- Create modal -->
<ng-template #addFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div *ngTemplateOutlet="modalHeader; context: {title: 'Nouveau Patient', subTitle:'Ajoutez un nouveau patient au système'}"></div>
    <nb-icon style="cursor: pointer" class="h4" icon="close-circle-outline" (click)="d('Cross click')"></nb-icon>
  </div>
  <div class="modal-body"> <app-patient-create-update (addPatient)="addPatient()"></app-patient-create-update> </div>
</ng-template>

<!-- Create Admission Modal -->
<ng-template #createAdmissionRef let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div>
      <span class="modalTitle" >Nouvelle Admission</span>
      <span class="modal-subTitle" >--</span>
    </div>
    <nb-icon style="cursor: pointer" (click)="d('Cross click')" class="h4" icon="close-circle-outline"></nb-icon>
  </div>
  <div class="modal-body"> <app-admission-create-update [patient]="patient" (addAdmission)="addAdmission()"></app-admission-create-update> </div>
</ng-template>

<!-- Update Patient Modal -->
<ng-template #editRef let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div *ngTemplateOutlet="modalHeader; context: {title: modalHeaderTitle, subTitle: modalHeaderSubTitle}"></div>
    <nb-icon style="cursor: pointer" class="h4" icon="close-circle-outline" (click)="d('Cross click')"></nb-icon>
  </div>
  <div class="modal-body">
    <app-patient-create-update [disabledAllFormFiled]="disabledAllFormFiled" [patient]="patient" (updatePatient)="updatePatient()"></app-patient-create-update>
  </div>
</ng-template>


<ng-template #modalHeader let-title="title" let-subTitle="subTitle">
  <div class="d-flex align-items-center">
    <fa-icon [classes]="iconStyle" size="2x" title="Patient icon" [icon]="faHospitalUser"></fa-icon>
     <div style="margin-left: 10px;" >
      <span class="modalTitle sh-color-primary">{{title}}</span>
      <span class="modal-subTitle sh-color-primary">{{subTitle}}</span>
     </div>
  </div>
</ng-template>
